<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Session Example</title>
</head>

<script>
        function autoRefresh() {
            window.location = window.location.href;
        }
        setInterval('autoRefresh()', 10000);
  </script>


<body>

<div>
    <h2>All User Submitted Messages</h2>
    <ul th:each="message : ${sessionMessages}">
        <li th:text="${message}">msg</li>
    </ul>
</div>

<div>
    <h2>Admin Submitted Messages</h2>
    <ul th:each="message : ${confirmedMessages}">
        <li th:text="${message}">msg</li>
    </ul>
</div>




